
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #fff;
}

.map {
  border:0;
  width: 100%;
  height: 300px;
}

/* .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
} */

.nav-item{
  margin-left: 20px;
}

.btn-dark-blue{
  background-color: #233DFF;
  color: #fff;
}

.logo{
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}